{% extends "cantina/base.html" %}

{% block title %}{{ customer.first_name }} {{ customer.last_name }}{% endblock %}

{% block header %}
  <h1>{{ customer.first_name }} {{ customer.last_name }}</h1>
{% endblock %}

{% block content %}
  <p>
    Planet: {{ customer.planet }}<br>
    {% if customer.uba %}
      UBA: {{ customer.uba }}<br>
    {% endif %}
    <a href="{% url 'cantina:edit_customer' customer.id %}">Edit</a>
    <a href="{% url 'cantina:delete_customer' customer.id %}">Delete</a>
  </p>
  <table>
    <thead>
      <th>ID</th>
      <th>Opened</th>
      <th>Due</th>
      <th>Closed</th>
    </thead>
    <tbody>
      {% for tab in tabs %}
        <tr>
          <td>{{ tab.id }}</td>
          <td>{{ tab.opened|date:"Y-m-d H:i" }}</td>
          <td>{{ tab.due|date:"Y-m-d H:i" }}</td>
          <td>{{ tab.closed|date:"Y-m-d H:i" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
