{% extends "cantina/base.html" %}

{% block title %}{{ drink.name }}{% endblock %}

{% block header %}
  <h1>{{ drink.name }} [{{ drink.category.name }}]</h1>
{% endblock %}

{% block content %}
  <p>
    Price: {{ drink.price }}<br>
    <a href="{% url 'cantina:edit_menu' drink.id %}">Edit</a>
  </p>
  <h2>Recipe:</h2>
  <table>
    <thead>
      <th>Ingredient</th>
      <th>Amount</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% for component in recipe %}
        <tr>
          <td>{{ component.ingredient.name }}</td>
          <td>{{ component.amount }} oz.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
