{% extends "cantina/base.html" %}

{% block title %}Menu: {{ instance.name }}{% endblock %}

{% block header %}
  <h1>{{ instance.name }} [{{ instance.category.name }}]</h1>
{% endblock %}

{% block content %}
  <p>
    Price: {{ instance.price }}<br>
  </p>
  <p>
    <a href="{% url 'cantina:menu_options' table='purchases' item=instance.id %}">Order</a>
    <a href="{% url 'cantina:edit' 'menu' instance.id %}">Edit</a>
    <a href="{% url 'cantina:delete' 'menu' instance.id %}">Delete</a>
  </p>
  <h2>Components:</h2>
  <table>
    <thead>
      <th>Ingredient</th>
      <th>Amount</th>
    </thead>
    <tbody>
      {% for component in instance.component_set.all %}
        <tr>
          <td>{{ component.ingredient.name }}</td>
          <td>{{ component.amount }} oz.</td>
          <td>
            <a href="{% url 'cantina:edit' 'components' component.id %}">Edit</a>
          </td>
          <td>
            <a href="{% url 'cantina:delete' 'components' component.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>
    <a href="{% url 'cantina:menu_options' table='components' item=instance.id %}">Add component</a>
  </p>
{% endblock %}
