{% extends "cantina/base.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% block header %}
  <h1>Menu: {{ category.name }}</h1>
{% endblock %}

{% block content %}
<table>
    <thead>
      <th>Name</th>
      <th>Price</th>
      <th>Order</th>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>
            <a href="{% url 'cantina:menu_detail' item.id %}">{{ item.name }}</a>
          </td>
          <td>{{ item.price }}</td>
          <td>
            <a href="{% url 'cantina:add_purchase' item.id %}">Order</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
