{% extends "cantina/base.html" %}

{% block title %}Tab: {{ tab.customer.first_name }} {{ tab.customer.last_name }}{% endblock %}

{% block header %}
  <h1>{{ tab.customer.first_name }} {{ tab.customer.last_name }}</h1>
{% endblock %}

{% block content %}
<table>
    <thead>
      <th>Drink</th>
      <th>Quantity</th>
      <th>Time</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% for purchase in purchases %}
        <tr>
          <td>{{ purchase.drink.name }}</td>
          <td>{{ purchase.quantity }}</td>
          <td>{{ purchase.time|date:"Y-m-d H:i" }}</td>
          <td>
            <a href="{% url 'cantina:edit_purchase' purchase.id %}">Edit</a>
          </td>
          <td>
            <a href="{% url 'cantina:delete_purchase' purchase.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
